<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Edit question</title>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function updateQuestion() {
            let electionID = <%= electionID %>;
            let questionID = <%= questionID %>;
            let question = document.getElementById("question").value;
            let description = document.getElementById("description").value;
            fetch(`/elections/${electionID}/questions/${questionID}/edit`, {
                method: "put",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token,
                    "question":question,
                    "description":description
                })
            }).then((res)=>{
                if (res.ok) {
                    window.location.replace(`/elections/${electionID}/questions`);
                }
            }).catch((err)=> console.error(err))
        }
    </script>
</head>
<body class="bg-gray-900">
    <%- include('header.ejs') %>
    <div class="flex gap-1 mx-10 mt-6 text-white">
        <span>></span>
        <a href="/elections" class="text-gray-400 hover:text-white transition-all">All Elections</a>
        <span>></span>
        <a href="/elections/<%= electionID %>/" class="text-gray-400 hover:text-white transition-all">Election</a>
        <span>></span>
        <a href="/elections/<%= electionID %>/questions" class="text-gray-400 hover:text-white transition-all">Questions</a>
    </div>
    <div class=" flex  text-gray-800 antialiased flex-col  overflow-hidden py-5">
        <div class=" py-3 sm:w-96 mx-auto text-center text-white">
            <span class="text-2xl font-light ">Edit question</span>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-gray-600 text-white my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div class="mt-4 border bg-gray-700 border-white shadow-md rounded-lg text-left text-white">
                <div class="h-2 rounded-t-md bg-white"></div>
                <div class="px-8 py-6">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label for="question" class="block mt-3 font-semibold">Question</label>
                    <input value="<%= questionTitle %>" id="question" name="question" type="text" placeholder="Question" class="text-black border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-gray-200 focus:ring-1 rounded-md" required>
                    <label for="description" class="block mt-3 font-semibold">Description</label>
                    <textarea id="description" name="description" class="text-black border w-full px-2 py-1 mt-2 hover:outline-none focus:outline-none focus:ring-gray-200 focus:ring-1 rounded-md" placeholder="Description" rows="4" cols="20"><%= questionDescription %></textarea>
                    <button class="mt-6 w-full bg-gray-500 border border-white text-white py-2 px-6 rounded-md hover:bg-white hover:text-gray-900 transition-all ease-linear" onclick="updateQuestion()">Update question</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>