<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-gray-50">
    <%- include('header.ejs') %>
    <div class="rounded-lg px-6 py-2">
    <% if (messages && messages.error && messages.error.length > 0) { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
            <p class="bg-purple-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
        <% } %>
    <% } %>
    </div>
    <div class="flex gap-1 mx-10 mt-6 bg-gray-50">
        <span>></span>
        <a href="/elections" class="text-purple-800 hover:text-purple-600">All Elections</a>
        <span>></span>
    </div>
    <div class="my-6 mx-10">
        <h3 class="text-4xl my-4 font-medium"><%= title %></h3>
        <% if (running) { %>
            <div class="py-4">
                <h4 class="text-2xl my-2 font-medium">Your election is launched!</h4>
                <h2 class="my-2 text-lg text-black flex gap-1">Voters can vote from this url:</h2>
                <a href="/e/<%= urlString %>/" class="py-1 hover:text-purple-800 text-purple-600">http://localhost:4000/e/<%= urlString %></a>
            </div>
        <% } %>
        <div class="mt-4">
            <h2 class="my-2 text-lg text-black flex gap-1">Your election has <span class="text-purple-600"> <%= nq %> </span> questions in the ballot</h2>
            <% if (!running) { %>
                <a href="/elections/<%= id %>/questions" class="py-1 hover:text-purple-800 text-purple-600">Manage questions</a>
            <% } %>
        </div>
        <div class="mb-8 bt-4">
            <h2 class="my-2 text-lg text-black flex gap-1">Your election has <span class="text-purple-600"> <%= nv %> </span> registered voters.</h2>
            <a href="/elections/<%= id %>/voters" class="py-1 hover:text-purple-800 text-purple-600">Manage voters</a>
        </div>
        <% if (!running) { %>
            <div class="bg-purple-800 rounded w-fit px-4 py-1 hover:bg-purple-600">
                <a href="/elections/<%= id %>/preview" class="text-white">Preview & Launch election</a>
            </div>
        <% } %>
        <% if (running) { %>
            <div class="flex gap-2">
                <div class="bg-purple-800 rounded w-fit px-4 py-1 hover:bg-purple-600 ease-linear transition-all duration-150">
                    <a href="" class="text-white">Preview results</a>
                </div>
                <div class="bg-purple-800 rounded w-fit px-4 py-1 hover:bg-purple-600 ease-linear transition-all duration-150">
                    <a href="" class="text-white">End election</a>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>