<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function deleteElection(electionID) {
            fetch(`/elections/${electionID}`, {
                method: "delete",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token
                })
            }).then((res)=>{
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err)=> console.error(err))
        }
    </script>
    <title><%= title %></title>
</head>
<body class="bg-gray-900">
    <%- include('header.ejs') %>
    <div class="my-6 mx-10">
        <h3 class="text-4xl my-4 font-medium text-white">Hello, <%= userName %></h3>
        <div>
            <% if (messages.success) { %>
                <p class="bg-gray-600 m-3 list-none rounded-md px-4 py-2 text-white"><%= messages.success %></p>
            <% } %>
        </div>
        <div>
            <% if (messages && messages.error && messages.error.length > 0) { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <p class="bg-gray-600 my-3 list-none rounded-md px-4 py-2 text-white"><%= messages.error[i] %></p>
                <% } %>
            <% } %>
        </div>
        <div class="flex gap-2 py-4 justify-between items-center">
            <h5 class="text-2xl text-gray-200">Your Elections</h5>
            <div class="cursor-pointer bg-gray-500 border items-center flex gap-2 border-white text-white py-2 px-6 rounded-md hover:bg-white hover:text-black transition-all ease-linear" onclick="location.href='/elections/create'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                  </svg>    
                <a href="/elections/create">Create a new election</a>
            </div>
        </div>
        <div class="flex-auto">
            <div class="mx-4 mt-5">  
                <p class="text-gray-500"><%= (elections.length==0)?"You haven't created any elections yet!":"" %></p>
                <ol class="list-decimal">
                    <% for (let i=0; i<elections.length; i++) { %>
                        <div class="flex justify-between text-white hover:bg-gray-700 rounded-md transition-all cursor-pointer" onclick="location.href='/elections/<%= elections[i].id %>'">
                            <li>
                                <div class="items-center w-fit my-2 px-2 py-1 rounded ">
                                    <a href="/elections/<%= elections[i].id %>" class="m-2 text-md text-white"><%= elections[i].electionName %></a>
                                </div>
                            </li>
                            <% if (!(elections[i].running)) { %>
                                <div class="flex gap-2 text-gray-400 items-center">
                                    <div class="w-fit px-2 py-1">
                                        <a href="/elections/<%= elections[i].id %>/edit" class="cursor-pointer hover:text-white  transition-all text-sm flex gap-2 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mt-1">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                          </svg>                                                                          
                                            Edit election
                                        </a>
                                    </div>
                                    <div class="w-fit px-2 py-1 ">
                                        <a onclick="deleteElection(<%= elections[i].id %>)" class="text-sm flex gap-2 cursor-pointer hover:text-white items-center transition-all">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mt-1">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                        </svg>                                      
                                            Delete election
                                        </a>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="rounded w-fit px-2 py-1 flex gap-2 text-gray-400 items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mt-1">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                                          </svg>
                                                                                                                                                               
                                        <p class="text-sm">Election running</p>
                                    </div>
                                <% } %>

                            </div>
                    <% } %>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>