<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-gray-50">
    <%- include('header.ejs') %>
    <div class="my-6 mx-10">
        <h3 class="text-4xl my-4 font-medium">Hello, <%= userName %></h3>
        <div>
            <% if (messages.success) { %>
                <p class="bg-purple-100 m-3 list-none rounded-md px-4 py-2"><%= messages.success %></p>
            <% } %>
        </div>
        <div class="flex gap-2 py-4 justify-between">
            <h5 class="text-2xl">Your Elections</h5>
            <div class="bg-purple-800 rounded w-fit px-2 py-1 hover:bg-purple-600">
                <a href="/elections/create" class="text-white">+ Create a new election</a>
            </div>
        </div>
        <div class="flex-auto">
            <div class="mx-4">  
                <p class="text-purple-600"><%= (elections.length==0)?"You haven't created any elections yet!":"" %></p>
                <ol class="list-decimal">
                    <% for (let i=0; i<elections.length; i++) { %>
                        <li>
                            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                                <a href="/elections/<%= elections[i].id %>" class="m-2 text-sm text-purple-600 "><%= elections[i].electionName %></a>
                            </div>
                        </li>
                    <% } %>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>