<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function deleteOption(optionID) {
            let electionID = <%= id %>;
            let questionID = <%= questionID %>;
            fetch(`/elections/${electionID}/questions/${questionID}/options/${optionID}`, {
                method: "delete",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token
                })
            }).then((res)=>{
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err)=> console.error(err))
        }
    </script>
    <link rel="stylesheet" href="./css/style.css">
    <title><%= title %></title>
</head>
<body class="bg-gray-900">
    <%- include('header.ejs') %>
    <div class="flex gap-1 mx-10 mt-6 text-white">
        <span>></span>
        <a href="/elections" class="text-gray-400 hover:text-white transition-all">All Elections</a>
        <span>></span>
        <a href="/elections/<%= id %>/" class="text-gray-400 hover:text-white transition-all">Election</a>
        <span>></span>
        <a href="/elections/<%= id %>/questions" class="text-gray-400 hover:text-white transition-all">Questions</a>
    </div>
    <div class="grid grid-cols-12 mt-4">
        <div class="col-start-2 col-span-10">
            <div class="rounded-lg px-6 py-2">
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-gray-600 text-white my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
                </div>
            <div class="px-2 py-1">
                <h3 class="text-5xl my-2 text-white"><%= title %></h3>
                <p class="text-gray-400 text-xl my-2"><%= description %></p>
            </div>
            <div class="ml-12">
                <ol class="list-decimal text-white">
                    <% for(let i=0; i<options.length; i++) { %>
                        <li class="option-item">
                            <div class="flex justify-between items-center w-full my-2 px-2 py-1 rounded-lg hover:bg-gray-700 transition-all ease-linear">
                                <p class="ml-2 text-lg "><%= options[i].option %></p>
                                <div class="flex gap-2 ">
                                <div class=" w-fit px-2 py-1">
                                    <a href="/elections/<%= id %>/questions/<%= questionID %>/options/<%= options[i].id %>/edit" class="text-sm flex gap-2 cursor-pointer hover:text-white text-gray-400 transition-all">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mt-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                      </svg>                                                                          
                                        Edit option</a>
                                </div>
                                <div class=" w-fit px-2 py-1">
                                    <a onclick="deleteOption(<%= options[i].id %>)" class="text-sm flex gap-2 cursor-pointer hover:text-white text-gray-400 transition-all">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mt-1">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                      </svg>                                      
                                        Delete option</a>
                                </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ol>
            </div>
            <form action="/elections/<%= id %>/questions/<%= questionID %>" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="option" placeholder="Enter an option" class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm" required autofocus/>
                    </div>
                        <button type="submit" class="flex gap-2 transition-all bg-gray-600 hover:bg-white border border-gray-300 hover:text-black text-white px-5 py-1.5 rounded mr-2 mb-2  items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                              </svg>
                              <span>Add answer option</span>
                        </button>
                </div>
            </form>
            <p class="text-gray-400"><%= (options.length==0)?"You haven't added any options yet!":"" %></p>
        </div>
    </div>
</body>
</html>