<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Election result</title>
</head>
<body class="bg-gray-50">
    <%- include('header.ejs') %>
    <div class="flex gap-1 mx-10 mt-6 bg-gray-50">
        <span>></span>
        <a href="/elections" class="text-purple-800 hover:text-purple-600">All Elections</a>
    </div>
    <div class=" flex  text-gray-800 antialiased flex-col  overflow-hidden bg-gray-50 py-6 sm:py-12 px-20">
        <div class="w-full">
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-purple-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div class="flex flex-col gap-6">
                <span class="text-5xl font-light ">Election result</span>
                <% for (let i of answers) { %>
                    <span class="text-5xl font-light "><%= i.voterID %></span>
                <% } %>
                <span class="text-5xl font-light "><%= optionsCount %></span>
                <ol class="list-decimal mb-5">
                    <% for(let i=0; i<questions.length; i++) { %>
                        <li class="my-2">
                            <div class="px-2 py-1">
                                <h3 class="text-2xl my-2"><%= questions[i].question %></h3>
                                <p class="text-purple-800 text-md my-2"><%= questions[i].description %></p>
                            </div>
                            <div class="ml-8">
                                <ol class="list-none">
                                    <% for(let j=0; j<options[i].length; j++) { %>
                                            <li class="option-item mt-2">
                                                <label class="px-1 my-2" class="ml-2 text-lg "><%= options[i][j].option %></label>
                                                <label class="px-1 my-2"  class="ml-2 text-lg "><%= optionsCount[i][j] %></label>
                                            </li>
                                    <% } %>
                                </ol>
                            </div>
                        </li>
                    <% } %>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>