<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-gray-900">
    <nav>
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <a href="/" class="py-2 px-4 flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap text-white">E-Vote</span>
          </a>
        </div>
    </nav>
    <div class=" flex  text-white antialiased flex-col  overflow-hidden py-6 sm:py-12 px-20">
        <div class="w-full">
            <div class="flex justify-between mb-2">
                <span class="text-5xl font-light "><%= title %></span>
            </div>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-gray-600 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <h2 class="py-2 text-2xl font-light mb-5">Answer the below questions</h2>
            <div class="pb-2 px-8">
                <form action="/e/<%= urlString %>" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <ol class="list-decimal mb-5 text-xl">
                        <% for(let i=0; i<questions.length; i++) { %>
                                    <div class="mt-4 bg-gray-700 border border-white shadow-md rounded-lg text-left">
                                    <li class="ml-8 my-2">
                                        <div class="px-2 py-1">
                                            <h3 class="text-2xl my-1"><%= questions[i].question %></h3>
                                            <p class="text-gray-400 text-sm "><%= questions[i].description %></p>
                                        </div>
                                        <div class="ml-8 mt-2">
                                            <ol class="list-none">
                                                <% for(let j=0; j<options[i].length; j++) { %>
                                                        <li class="option-item  cursor-pointer">
                                                            <input type="radio" id="<%= options[i][j].id %>" class="cursor-pointer" name="q-<%= questions[i].id %>" value="<%= options[i][j].id %>" required>
                                                            <label class="px-1 cursor-pointer text-lg" for="<%= options[i][j].id %>" class="ml-2 text-lg "><%= options[i][j].option %></label>
                                                        </li>
                                                <% } %>
                                            </ol>
                                        </div>
                                    </li>
                                </div>
                                <% } %>
                            </ol>
                            <div class="flex py-4">
                                <button type="submit" class="mt-6 w-full bg-gray-500 border border-white text-white py-2 px-6 rounded-md hover:bg-white hover:text-gray-900 transition-all ease-linear">
                                    Submit vote
                                </button>
                            </div>
                        </form>
            </div>
        </div>
    </div>
</body>
</html>