<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function launchElection() {
            let electionID = <%= electionID %>;
            fetch(`/elections/${electionID}/launch`, {
                method: "put",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "_csrf":token,
                })
            }).then((res)=>{
                if (res.ok) {
                    window.location.replace(`/elections/${electionID}`);
                }
            }).catch((err)=> console.error(err))
        }
    </script>
</head>
<body class="bg-gray-50">
    <nav>
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <a href="/" class="py-2 px-4 flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap text-purple-800">E-Vote</span>
          </a>
        </div>
    </nav>
    <div class=" flex  text-gray-800 antialiased flex-col  overflow-hidden bg-gray-50 py-6 sm:py-12 px-20">
        <div class="w-full">
            <div class="flex justify-between">
                <span class="text-4xl font-light "><%= title %></span>
                <div class="flex">
                    <div class="bg-purple-100 border border-purple-700 text-purple-800 rounded w-fit px-4 pt-2 hover:text-white hover:bg-purple-600 mx-2 ease-linear transition-all duration-150">
                        <a href="/elections/<%= electionID %>/">Edit election</a>
                    </div>
                    <button onclick="launchElection()" class="text-white bg-purple-800 rounded w-fit px-4 hover:bg-purple-600 ml-2 ease-linear transition-all duration-150">
                        Launch election
                    </button>
                </div>
            </div>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-purple-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div class="mt-4 bg-white shadow-md rounded-lg text-left">
                <div class="h-2 bg-purple-400 rounded-t-md"></div>
                <div class="py-2 px-8">
                    <ol class="list-decimal">
                        <% for(let i=0; i<questions.length; i++) { %>
                            <li class="my-2">
                                <div class="px-2 py-1">
                                    <h3 class="text-2xl my-2"><%= questions[i].question %></h3>
                                    <p class="text-purple-800 text-md my-2"><%= questions[i].description %></p>
                                </div>
                                <div class="ml-8">
                                    <ol class="list-none">
                                        <% for(let j=0; j<options[i].length; j++) { %>
                                                <li class="option-item mt-2 cursor-pointer">
                                                    <input type="radio" id="<%= options[i][j].id %>" class="cursor-pointer" name="answer-<%= questions[i].id %>">
                                                    <label class="px-1 my-2 cursor-pointer" for="<%= options[i][j].id %>" class="ml-2 text-lg "><%= options[i][j].option %></label>
                                                </li>
                                        <% } %>
                                    </ol>
                                </div>
                            </li>
                        <% } %>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
</body>
</html>